export default {
  // 发送api请求的域名(必须是域名)
  host: 'http://xxx',
  // api的路径
  baseURL: '/foo/bar',
  // 需要放置在服务器的静态资源地址
  sourceURL: '',
  title: '',
  // 以下为可覆盖config文件内容,如果定义,在config中的相关设置会被覆盖
  // wechatConfigUrl: '',
  // wechatAuthUrl: '',
  // authUrl: '',
  // storageType: '',
  // tokenType: '',
  // token: '',
  // appid, 以后端要求为准
  appID: 1,
  // 以下可以是自定义的部分
  MTAConfig: {
    open: false,
    config: {
    }
  }
}
